:root {
  font-size: 62.5%;
  --white-1: #fff;
  --dark-1: #131318;
  --dark-2: #424247;
  --dark-3: rgba(19, 19, 24, 0.5);
  --orange-1: #ff5400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-family: "Mulish", sans-serif;
}
body {
  font-size: 1.6rem;
  height: 100vh;
}
main {
  padding: 80px 20px 0 20px;
}
section {
  max-width: 1170px;
  margin: 0 auto 50px auto;
  border-radius: 16px;
}

.h2-side-title {
  color: var(--dark-1);
  font-size: 2rem;
  font-weight: 800;
}
.h2-middle-title {
  color: var(--dark-1);
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}
.h3-title {
  color: #131318;
  font-size: 2rem;
  font-weight: 800;
}
.center-wht-paragraph {
  color: var(--white-1);
  text-align: center;
  font-size: 1.6rem;
  margin: 5px 0;
}
.center-blk-paragraph {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 1.6rem;
  line-height: 26px;
  margin: 5px 0;
}
.black-paragraph {
  color: rgba(19, 19, 24, 0.7);
  font-size: 1.6rem;
  line-height: 24px;
  margin: 5px 0;
}
.orange-tx {
  color: var(--orange-1);
  font-weight: 700;
}

.place-name {
  color: var(--white-1);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.primary-btn {
  border: none;
  border-radius: 8px;
  background: var(--orange-1);
  color: var(--white-1);
  text-align: center;
  font-size: 1.9rem;
  font-weight: 700;
  padding: 12px 28px;
  cursor: pointer;
  transition: 0.2s ease;
}
.primary-btn:hover {
  background-color: #424247;
}

/* Media Quries for Small Devices */

@media (min-width: 576px) {
}

/* Media Quries for Medium Devices */

@media (min-width: 768px) {
  section {
    margin: 0 auto 80px auto;
  }
  .place-name {
    font-size: 2.6rem;
  }
}

/* Media Quries for Large Devices */

@media (min-width: 992px) {
  .h2-side-title,
  .h2-middle-title {
    font-size: 2.8rem;
  }
  .place-name {
    font-size: 2.8rem;
  }
  .primary-btn {
    font-size: 2rem;
    font-weight: 800;
    padding: 14px 30px;
  }
}

/* Media Quries for Extra Large Devices */

@media (min-width: 1200px) {
  section {
    margin: 0 auto 100px auto;
  }
  .h2-side-title,
  .h2-middle-title {
    font-size: 4rem;
  }
  .black-paragraph,
  .center-wht-paragraph,
  .center-blk-paragraph {
    font-size: 1.7rem;
  }
}
