header {
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
nav {
  background-color: var(--white-1);
  height: 64px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 2%;
}

/* Navbar's Logo Styles */

.nav-logo {
  height: 100%;
  display: inline-flex;
  column-gap: 10px;
  align-items: center;
}
.nav-logo img {
  width: 29px;
  height: 34px;
}
.nav-logo .company-name {
  color: var(--dark-1);
  font-size: 2.2rem;
  font-weight: 800;
}

/* Navbar Link Button Styles */

nav > ul {
  float: right;
  position: fixed;
  top: 64px;
  right: -100%;
  background-color: #20572c;
  width: 100%;
  height: calc(100vh - 64px);
  text-align: center;
  display: block;
}
nav > ul li {
  list-style: none;
  display: block;
  line-height: 64px;
  padding: 5px 0;
  width: 100%;
}
nav > ul li a {
  display: inline-block;
  color: var(--dark-2);
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  padding: 10px 15px;
}
nav > ul li a:hover,
nav > ul li a:active {
  background-color: #a5a5a5;
}
.hambtn {
  font-size: 2.2rem;
  float: right;
  line-height: 64px;
  cursor: pointer;
  display: block;
}
#checkbtn {
  display: none;
}

/* Media Quries for Medium Devices */

@media (min-width: 768px) {
  .hambtn {
    display: none;
  }
  nav > ul {
    position: static;
    background-color: transparent;
    width: fit-content;
    height: 64px;
    display: inline-flex;
    gap: 20px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    transition: none;
  }
  nav > ul li {
    display: block;
    padding: 0px;
    width: fit-content;
    background-color: transparent;
  }
  nav > ul li a {
    display: inline;
    width: fit-content;
    text-align: center;
    font-size: 1.8rem;
  }
  #checkbtn:checked ~ ul {
    right: 0;
  }
}
