.save-70 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}
.newsletter {
  grid-column: 1/-1;
  height: 422px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid var(--orange-1);
  border-radius: 16px;
  padding: 30px;
}
.save-img {
  grid-column: 1/-1;
  height: 422px;
  position: relative;
}
.save-img img {
  width: 100%;
  height: 422px;
}
.newsletter input {
  padding: 16px;
  border-radius: 8px;
  background: rgb(230, 230, 230);
  border: none;
  color: var(--dark-3);
}

.save-btn-div {
  width: 214.023px;
  height: 79.268px;
  transform: rotate(-19.628deg);
  border-radius: 10.569px;
  background: #ff5400;
  position: absolute;
  right: 3%;
  bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-1);
}
/* Media Quries for Small Devices */

@media (min-width: 576px) {
}

/* Media Quries for Medium Devices */

@media (min-width: 768px) {
  .newsletter {
    grid-column: 1/6;
  }
  .save-img {
    grid-column: 6/-1;
  }
}

/* Media Quries for Large Devices */

@media (min-width: 992px) {
  .save-btn-div {
    width: 290px;
    height: 120px;
    font-size: 2rem;
  }
}

/* Media Quries for Extra Large Devices */

@media (min-width: 1200px) {
}
